content mind mapper agent/Content Mind Mapper Agent.yml
app:
  description: 将上传的pdf或者URL或者视频转换为思维导图模式
  icon: card_index_dividers
  icon_background: '#FCE7F6'
  mode: workflow
  name: Content Mind Mapper Agent
  use_icon_as_answer_icon: false
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 60
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: if-else
      id: 1741594441961-source-1741594552761-target
      source: '1741594441961'
      sourceHandle: source
      target: '1741594552761'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: document-extractor
      id: 1741594552761-true-1741594597357-target
      source: '1741594552761'
      sourceHandle: 'true'
      target: '1741594597357'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: tool
      id: 1741594552761-e8d37a59-6624-4e0d-8a60-dcfb66bb14ea-1741594655707-target
      source: '1741594552761'
      sourceHandle: e8d37a59-6624-4e0d-8a60-dcfb66bb14ea
      target: '1741594655707'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: document-extractor
        targetType: variable-aggregator
      id: 1741594597357-source-1741595301309-target
      source: '1741594597357'
      sourceHandle: source
      target: '1741595301309'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: variable-aggregator
        targetType: llm
      id: 1741595301309-source-1741595327344-target
      source: '1741595301309'
      sourceHandle: source
      target: '1741595327344'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: code
      id: 1741594655707-source-1741596692397-target
      source: '1741594655707'
      sourceHandle: source
      target: '1741596692397'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: variable-aggregator
      id: 1741596692397-source-1741595301309-target
      source: '1741596692397'
      sourceHandle: source
      target: '1741595301309'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: llm
      id: 1741595327344-source-1741742684478-target
      source: '1741595327344'
      sourceHandle: source
      target: '1741742684478'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: code
      id: 1741742684478-source-1741763336161-target
      source: '1741742684478'
      sourceHandle: source
      target: '1741763336161'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: tool
      id: 1741763336161-source-1741596086389-target
      source: '1741763336161'
      sourceHandle: source
      target: '1741596086389'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: end
      id: 1741596086389-source-1741595530428-target
      source: '1741596086389'
      sourceHandle: source
      target: '1741595530428'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - allowed_file_extensions: []
          allowed_file_types:
          - document
          allowed_file_upload_methods:
          - local_file
          - remote_url
          label: input_file
          max_length: 48
          options: []
          required: false
          type: file
          variable: input_file
        - label: input_url
          max_length: 10000
          options: []
          required: false
          type: paragraph
          variable: input_url
        - label: language
          max_length: 100
          options: []
          required: false
          type: text-input
          variable: language
      height: 142
      id: '1741594441961'
      position:
        x: 79.0681706658817
        y: 282
      positionAbsolute:
        x: 79.0681706658817
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: exists
            id: 9a2ec7c9-1307-481b-82e9-aafb4062adbd
            value: ''
            varType: file
            variable_selector:
            - '1741594441961'
            - input_file
          id: 'true'
          logical_operator: and
        - case_id: e8d37a59-6624-4e0d-8a60-dcfb66bb14ea
          conditions:
          - comparison_operator: not empty
            id: bcc95ac0-1785-4d54-ba96-b99bafb18ce1
            value: ''
            varType: string
            variable_selector:
            - '1741594441961'
            - input_url
          id: e8d37a59-6624-4e0d-8a60-dcfb66bb14ea
          logical_operator: and
        desc: ''
        selected: false
        title: 条件分支
        type: if-else
      height: 174
      id: '1741594552761'
      position:
        x: 384
        y: 282
      positionAbsolute:
        x: 384
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        is_array_file: false
        selected: false
        title: 文档内容转换为string格式
        type: document-extractor
        variable_selector:
        - '1741594441961'
        - input_file
      height: 92
      id: '1741594597357'
      position:
        x: 713
        y: 204
      positionAbsolute:
        x: 713
        y: 204
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        provider_id: kofe
        provider_name: kofe
        provider_type: builtin
        selected: false
        title: 爬取url中的内容
        tool_configurations:
          excludePaths: blog/*,news/*,press/*,facebook.com/*,twitter.com/*,linkedin.com/*,instagram.com/*,comments/*,forum/*,reviews/*,privacy-policy,terms-of-service,terms-and-conditions,login,signup,register,cart,checkout,search,query,ads/*,promo/*,404,error,api/*,ajax/*,video/*,audio/*,sitemap,robots.txt,temp/*,test/*
          excludeTags: selection,img,h3,link,button,script,a,style,iframe,#ad,#footer
          limit: 1
          maxDepth: 1
          onlyMainContent: 1
          waitFor: 60000
        tool_label: Kofe Crawler
        tool_name: crawl
        tool_parameters:
          url:
            type: mixed
            value: '{{#1741594441961.input_url#}}'
        type: tool
      height: 220
      id: '1741594655707'
      position:
        x: 713
        y: 342
      positionAbsolute:
        x: 713
        y: 342
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        output_type: string
        selected: false
        title: 思维导图内容
        type: variable-aggregator
        variables:
        - - '1741594597357'
          - text
        - - '1741596692397'
          - result
      height: 131
      id: '1741595301309'
      position:
        x: 1329
        y: 271
      positionAbsolute:
        x: 1329
        y: 271
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: ea01-eus01-gpt-4o-2024-11-20
          provider: azure_openai
        prompt_template:
        - id: 8eeda7d1-2681-4ccf-bf44-55f1797ec441
          role: system
          text: "# 思维导图生成器\n\n\n## 任务描述\n根据用户输入的内容，生成一个结构化的思维导图，并以Markdown格式输出。如果\
            \ `language` 变量被设置，则将输出翻译为该语言；如果 `language` 变量未设置，则默认使用输入语言作为输出语言。\n\n\
            \n## 目标\n1. **分析输入内容**：识别并提取输入内容中的关键点和主题。\n2. **组织结构**：按照层次结构将提取的信息组织成思维导图的格式。\n\
            3. **输出Markdown**：生成符合Markdown语法的思维导图文本，并根据 `language` 变量调整输出语言。\n\n\n\
            ## 关键步骤\n1. **内容分析**：\n   - 识别输入内容中的主要主题和子主题。\n   - 提取关键点并确定各个主题之间的关系。\n\
            \n\n2. **结构组织**：\n   - 将提取的主题和子主题按层次进行排列。\n   - 确保思维导图的逻辑性和可读性。\n\n\n\
            3. **Markdown生成**：\n   - 使用Markdown语法将思维导图表示为文本。\n   - 确保输出格式正确，并在支持Markdown的环境中能够正确显示。\n\
            \   - 如果 `language` 变量已设置，则将Markdown文本翻译为该语言；否则，使用输入语言作为输出语言。\n\n\n##\
            \ 输出格式\n- 使用Markdown的标题和列表语法来表示思维导图的层次结构。\n- 确保各个级别的主题和子主题清晰可辨。\n- 除Markdown内容外，不输出任何其他解释型语句。\n\
            \n\n## 示例\n### 假设输入内容：\n“项目计划涉及市场分析、产品开发和最终发布。”\n\n\n#### 当 `language`\
            \ 变量未设置（默认使用输入语言中文）：\n```markdown\n# 项目计划\n## 市场分析\n- 研究市场趋势\n- 竞争对手分析\n\
            - 目标客户群\n\n\n## 产品开发\n- 概念设计\n- 原型制作\n- 测试与改进\n\n\n## 最终发布\n- 营销策略\n-\
            \ 发布渠道\n- 客户反馈\n```\n\n\n#### 当 `language` 变量设置为 `\"English\"`：\n```markdown\n\
            # Project Plan\n## Market Analysis\n- Study market trends\n- Competitor\
            \ analysis\n- Target customer group\n\n\n## Product Development\n- Concept\
            \ design\n- Prototype creation\n- Testing and improvement\n\n\n## Final\
            \ Release\n- Marketing strategy\n- Distribution channels\n- Customer feedback\n\
            ```\n\n"
        - id: fcd92f7b-f7a8-45d5-8f79-50f069927b23
          role: user
          text: '输入：{{#1741595301309.output#}}

            语言：{{#1741594441961.language#}}'
        selected: false
        title: 生成思维导图
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: '1741595327344'
      position:
        x: 1634.543280175059
        y: 271
      positionAbsolute:
        x: 1634.543280175059
        y: 271
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1741595327344'
          - text
          variable: mindmap
        - value_selector:
          - '1741596086389'
          - files
          variable: files
        selected: false
        title: 结束
        type: end
      height: 116
      id: '1741595530428'
      position:
        x: 2837
        y: 271
      positionAbsolute:
        x: 2837
        y: 271
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        provider_id: kofe
        provider_name: kofe
        provider_type: builtin
        selected: false
        title: Mermaid图生成
        tool_configurations: {}
        tool_label: Mermaid图生成
        tool_name: GenerateMermaidDiagram
        tool_parameters:
          mermaid_code:
            type: mixed
            value: '{{#1741763336161.result#}}'
        type: tool
      height: 54
      id: '1741596086389'
      position:
        x: 2541
        y: 271
      positionAbsolute:
        x: 2541
        y: 271
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "def main(arg1: list) -> dict:\n    \"\"\"\n    从输入的 JSON 数组中提取所有 'data'\
          \ 数组中的 'markdown' 内容。\n    \n    :param arg1: 一个包含 'data' 数组的对象列表\n    :return:\
          \ 包含合并后 Markdown 内容的字典\n    \"\"\"\n\n    # 初始化 Markdown 内容列表\n    markdown_list\
          \ = []\n\n    # 遍历 `arg1` 数组中的每个对象\n    for obj in arg1:\n        # 获取 `data`\
          \ 数组（直接从对象获取，而不是 `json` ）\n        data_list = obj.get(\"data\", [])\n\n\
          \        # 提取所有 `markdown` 内容，并添加到列表\n        for item in data_list:\n \
          \           if \"markdown\" in item:\n                markdown_list.append(item[\"\
          markdown\"])\n\n    # 将所有 `markdown` 内容合并为字符串，以 `\\n\\n` 连接\n    markdown_content\
          \ = \"\\n\\n\".join(markdown_list)\n\n    return {\"result\": markdown_content}\n"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - '1741594655707'
          - json
          variable: arg1
      height: 54
      id: '1741596692397'
      position:
        x: 1017
        y: 342
      positionAbsolute:
        x: 1017
        y: 342
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: ea01-eus01-gpt-4o-2024-11-20
          provider: azure_openai
        prompt_template:
        - id: 957d9f22-8c42-41ef-8988-db3a63bf77a9
          role: system
          text: "将输入的markdown格式的内容，转换成marmaid格式代码并输出。输出只输出marmaid格式代码，不输出其余的解释型语言，也不要输出开头的marmaid\\\
            n\n\n输出示例：\n```\nmindmap\n  mindmap\n    Origins\n      Long history\n\
            \      ::icon(fa fa-book)\n      Popularisation\n        British popular\
            \ psychology author Tony Buzan\n    Research\n      On effectivness<br/>and\
            \ features\n      On Automatic creation\n        Uses\n            Creative\
            \ techniques\n            Strategic planning\n            Argument mapping\n\
            \    Tools\n      Pen and paper\n      Mermaid\n```"
        - id: 1e61ac45-8a02-4fce-b161-e99d85982783
          role: user
          text: markdown格式内容：{{#1741595327344.text#}}
        selected: false
        title: 生成marmaid代码
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: '1741742684478'
      position:
        x: 1937
        y: 271
      positionAbsolute:
        x: 1937
        y: 271
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "def main(arg1: str) -> dict:\n    # 移除开头和结尾的反引号或换行符\n    sanitized_arg1\
          \ = arg1.strip('`\\n')\n\n    # 处理特定符号格式\n    sanitized_arg1 = sanitized_arg1.replace(\"\
          [\", \"[ \").replace(\">|\", \"> |\")\n    sanitized_arg1 = sanitized_arg1.replace(\"\
          (\", \"\").replace(\")\", \"\").replace(\"（\", \"\").replace(\"）\", \"\"\
          )\n\n    # 保留换行和缩进，转换 <br/> 为换行符\n    sanitized_arg1 = sanitized_arg1.replace(\"\
          <br/>\", \"\\n\")\n\n    return {\n        \"result\": sanitized_arg1,\n\
          \    }\n"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 处理符号
        type: code
        variables:
        - value_selector:
          - '1741742684478'
          - text
          variable: arg1
      height: 54
      id: '1741763336161'
      position:
        x: 2237
        y: 271
      positionAbsolute:
        x: 2237
        y: 271
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        author: 边沛佳
        desc: ''
        height: 156
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"输入文档或者网页URL，生成可以在xmind导入的markdown格式的思维导图，并且由mermaid生成思维导图","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 459
      height: 156
      id: '1741768914467'
      position:
        x: 65.68157174149238
        y: 66.66294158393879
      positionAbsolute:
        x: 65.68157174149238
        y: 66.66294158393879
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 459
    - data:
        author: 边沛佳
        desc: ''
        height: 115
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"条件分支判断
          输入格式是文件还是URL","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"并从中获取到内容文本","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 479
      height: 115
      id: '1741769080698'
      position:
        x: 427.00922848823825
        y: 561.3874569255305
      positionAbsolute:
        x: 427.00922848823825
        y: 561.3874569255305
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 479
    - data:
        author: 边沛佳
        desc: ''
        height: 170
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"生成markdown格式的思维导图","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"并转换为marmaid代码","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"去除代码中无法处理的符号后","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"生成marmaid图","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 432
      height: 170
      id: '1741769243723'
      position:
        x: 1632.366981581862
        y: 56.568769912489756
      positionAbsolute:
        x: 1632.366981581862
        y: 56.568769912489756
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 432
    viewport:
      x: 165.47463891635732
      y: 184.52080985480313
      zoom: 0.3507362154550546
